*.o
.cproject
.project
.settings/
libsofa-pbrpc.a
output/
sofa-pbrpc-client
unit-test/libgtest.a
unit-test/test_atomic
unit-test/test_buffer
unit-test/test_closure
unit-test/test_common
unit-test/test_data.pb.h
unit-test/test_epoll_support
unit-test/test_ext_closure
unit-test/test_thread_group
unit-test/test_timeout_manager
unit-test/test_tran_buf_pool
unit-test/test_io_service_pool
*.a
sofa-pbrpc-client
depends.mk
src/sofa/pbrpc/*.pb.h
src/sofa/pbrpc/*.pb.cc

# bazel
bazel-app
bazel-bin
bazel-genfiles
bazel-out
bazel-sofa-pbrpc
bazel-testlogs

sample/echo/client_async
sample/echo/client_sync
sample/echo/echo_service.pb.h
sample/echo/server

.vs/
sofa-pbrpc.VC.VC.opendb
sofa-pbrpc.VC.db
sofa-pbrpc.sln
sofa-pbrpc.vcxproj
sofa-pbrpc.vcxproj.filters
sofa-pbrpc.vcxproj.user